[user]
	name = Cameron Corda
	email = ccorda@gmail.com
[core]
	excludesfile = /Users/cameron/.gitignore_global
	filemode = false
	ignorecase = false
[color]
	ui = true
[push]
	default = current
[github]
	user = ccorda
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/cameron/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
